html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
**/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
**/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
**/
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
**/
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
pre {
  overflow: auto;
}
.loader-animation {
  animation-fill-mode: both;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*
@font-face{
	//font-family: 'Helvetica';
    font-family: 'MainFont';
    src: url('font/Helvetica Neue 65 Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  overflow: hidden;
  font-family: 'Roboto';
  font-size: 14px;
  background: #000000;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
img {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-drag: none;
}
input,
select,
option {
  font-family: 'Roboto';
  font-size: 14px;
  outline: none;
  border: none;
  color: #ffffff;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/*
@media screen only and (orientation:portrait) {
	// TODO
	.player {
		opacity: 0.2;
	}
}
*/
#splash {
  display: none;
}
#intro.activity {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.6s ease-out 0.6s 1 both;
}
#intro.activity img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  max-height: 60%;
  animation: fadeOut 0.3s ease-out 2.5s 1 both;
}
@keyframes item_inc {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes item_out {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes item_back_to_init {
  100% {
    left: 0;
  }
}
.player {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.player .background {
  z-index: 101;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
}
.player .media {
  z-index: 102;
  position: absolute;
  width: 100%;
  height: 100%;
  /*
		.item.back_to_init {
			//animation: item_back_to_init 1s ease-in-out 0s 1 none;
		}
		*/
  /*
		.item > img.still {
			display: inline-block;
		}
		.item > img.media {
			display: none;
		}
		.item.playing > img.still {
			display: none;
		}
		.item.playing > img.media {
			display: inline-block;
		}
		*/
}
.player .media .item {
  position: absolute;
  width: 100%;
  height: 100%;
}
.player .media .item img {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-user-select: none;
}
.player .media .item img.gif {
  display: none;
}
.player .media .item .caption {
  font-size: 64px;
}
.player .media .item .slug {
  position: absolute;
  bottom: 2px;
  right: 4px;
  z-index: 103;
  text-transform: uppercase;
  cursor: default;
}
.player .media .item.inc {
  opacity: 0;
  animation: item_inc 0.25s ease-out 0.15s 1 both;
}
.player .media .item.out {
  animation: item_out 0.05s ease-out 0s 1 both;
}
/*
.loader {

	z-index: 150;

	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;

	.ani {
		.ball-rotate( 30px, #fff, 1.0s );
	}
	//mix-blend-mode: difference;
}
*/
.controls {
  z-index: 200;
  position: fixed;
  right: 0;
  left: 0;
  /*
	.menu.shown {
		//animation: item_controls_show 0.2s ease-in-out 0s 1 both;
		//transform: translate(0,0);
	}
	.menu.hidden {
		//animation: item_controls_hide 0.2s ease-in-out 0s 1 both;
		//transform: translate(0,100%);
	}
	*/
}
.controls .menu {
  z-index: 201;
  position: fixed;
  pointer-events: all;
  transition: transform 0.2s;
}
.controls .menu img.button {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}
.controls .menu img.button:hover {
  opacity: 1;
}
.controls .menu.autoplay {
  bottom: 2px;
}
.controls .menu.mode {
  top: 2px;
}
.controls .menu.mode input[type="search"] {
  display: inline-block;
  float: left;
  width: 30px;
  min-width: 30px;
  max-width: 400px;
  padding: 10px 0px 7px 2px;
  font-family: Roboto;
  font-size: 20px;
  text-transform: uppercase;
  background: none;
  opacity: 0.8;
}
.controls .menu.mode .clear {
  opacity: 1;
  position: relative;
  left: -14px;
  transition: opacity 0.2s;
}
.controls .menu.share {
  top: 2px;
  right: 2px;
}
.controls .menu.share .menu {
  position: absolute;
  top: 44px;
  transition: transform 0.3s, opacity 0.3s;
}
.controls .menu.share .menu .option {
  cursor: pointer;
}
.controls .menu.share .menu.opened {
  transform: translate(0, 0);
  opacity: 0.8;
}
.controls .menu.share .menu.closed {
  transform: translate(200%, 0);
  opacity: 0;
}
/*
.controls.shown {
	//transform: translate(0,0);
}
.controls.hidden {
	//transform: translate(0,100%);
}
*/
.statusbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0px;
  height: 3px;
  min-height: 1px;
  max-height: 1px;
  background: #ffffff;
  opacity: 0.6;
  z-index: 103;
}
#about.activity {
  overflow: hidden;
  /*
	canvas.tetroid {
		position: fixed;
	    top: 50%;
	    right: 50%;
	    bottom: 50%;
	    left: 50%;
		transform: translate(-50%,-50%);
		z-index: 1000;
		margin-left: auto;
    	margin-right: auto;
		vertical-align: middle;
		//mix-blend-mode: difference;
		//background: #0000ff;

	}
	*/
}
#about.activity canvas {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#about.activity img {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 640px;
  max-height: 60%;
}
#vignette {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 70px 70px 170px rgba(0, 0, 0, 0.5) inset, -70px -70px 170px rgba(0, 0, 0, 0.5) inset;
  z-index: 5;
}
/* --- FUBAR-WEB --- */
