
//@import "/home/tong/dev/lib/om.style/res/style/vignette";
@import "normalize";
@import "/loader/loader";
@import "/loader/ball-rotate";

@import "vars";
@import "fubar/animations";

////////////////////////////////////////////////////////////////////////////////

@font-face{
	font-family: 'Roboto';
    src: url('font/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face{
	//font-family: 'Helvetica';
    font-family: 'MainFont';
    src: url('font/Helvetica Neue 65 Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

//////////////////////////////////////////////////////////////////////////

body {

    overflow: hidden;

    font-family: @font;
    font-size: @font-size;

    background: @color-0;
    color: @color-1;

    -webkit-font-smoothing: antialiased;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	user-drag: none;
	//-webkit-user-select: none;
}

input, select, option {
    font-family: @font;
    font-size: @font-size;
    outline: none;
    border: none;
    color: @color-1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

////////////////////////////////////////////////////////////////////////////////

.vignette ( @offsetX, @offsetY, @blur, @color:rgba(0,0,0,0.5) ) {
    box-shadow:
        @offsetX @offsetY @blur @color inset,
        -@offsetX -@offsetY @blur @color inset;
}

#vignette {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

	.vignette( 70px, 70px, 170px, rgba(0,0,0,0.3) );

    z-index: 5;
}

#splash {
	display: none;
}

#fubar {}

////////////////////////////////////////////////////////////////////////////////

@import "fubar/intro";
@import "fubar/play";
@import "fubar/player";
@import "fubar/controls";
@import "fubar/about";
